body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(20, 173, 203);
  color: #333;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1,
h2 {
  color: #444;
  text-align: center;
}

form,
section {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 8px;
}

form label {
  display: block;
  margin: 10px 0 5px;
}

form input,
form select,
button {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #cccccc;
  border-radius: 4px;
  width: 100%;
}

button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

#error {
  color: rgb(19, 19, 21);
  display: none;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

table th {
  background-color: #007bff;
  color: white;
}

table td {
  background-color: #f9f9f9;
}

.hidden {
  display: none;
}

/* css de la pagina de inicio */
.home-page {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, rgb(20, 173, 203), rgb(97, 90, 230));
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.home-page h1 {
  font-size: 3em;
  margin-bottom: 20px;
  text-shadow: 2px 2px #000;
}

.home-button {
  padding: 15px 30px;
  font-size: 1.2em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  margin-top: 20px;
  width: auto;
}

.home-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.home-button:active {
  transform: translateY(0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.home-page img {
  margin-top: 30px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .home-page h1 {
    font-size: 2.5em;
  }

  .home-button {
    font-size: 1em;
    padding: 12px 25px;
  }
}
